<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title:"Administrador"}) %> 
<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="card ">
            <div class="table-responsive">

        <table class="table table-hover  ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                <% productos.forEach((producto,index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %> </th>
                        <td><%= producto.name %> </td>
                        <td><%= producto.price %> </td>
                        <td><%= producto.category.name %> </td>
                        <td class="d-flex justify-content-around">
                            <a class="btn btn-sm btn-success"
                            href="/products/edit/<%= producto.id %> "><i class="fas fa-edit"></i></a>
                        <div>
                            <form
                                action="/products/delete/<%= producto.id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger"
                                    type='submit'><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                        </td>
                      </tr>
                <% }) %>
             
            </tbody>
          </table>
        </div>
    </div>

    </main>
    <%- include('../partials/scripts') %> 

</body>
</html>